.restaurant-card{
  text-decoration: none;
  color: black;
}

.restaurant-card:hover {
  color: rgb(46, 41, 41);
  background-color: rgb(195, 255, 255);
  font-weight: bolder;
}

*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}